div.relative {
    position: relative;
}

div.absolute {
    position: absolute;
    top: 0px;
    height: 100%;
    right: 0;
    margin-left: 700px;
    background-color: white;
    text-align: center;
}

div.img-overlay{
    position: relative;
}
.main_title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-top: 10%;
    height: 25%;
}

form {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;

    grid-column-gap: 10px;
    grid-row-gap: 25px;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

div.head {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: left;
    padding-left: 5%;
}

div.form_layout {
    padding: 40px;

}

div.body {
    background-color: beige;
    padding-top: 3%;
    padding-bottom: 3%;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    padding-top: 5;
}

button.submit{
    font-weight: bolder;
}
div.button{
    padding-top: 5%;
    width: 25%;
    padding-left: 5%;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

div.login {
    font-family: 'Roboto', sans-serif;
    color: #3B3B3B;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

a {
    color: #73AD21;
}